<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
  }
  td {
    text-align: center;
  }
</style>
<h2>Aktualizacja planu PWSZ <%= l(@time, format: '%d.%m.%Y %H:%M').humanize %></h2>
<h3 style="color:<%= if @errors.size == 0 then 'green' else 'red' end %>">Status aktualizacji: <%= if @errors.size == 0 then 'Prawodłowa' else 'Błędna' end%></h3>
<h3>Statystyki operacji</h3>
<table border="1" width="30%">
  <thead>
    <th>Operacja</th>
    <th>Ilość</th>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:left; padding-left:10px">Dodawanie</td>
      <td><%= @inserts %></td>
    </tr>
    <tr>
      <td style="text-align:left; padding-left:10px">Aktualizacja</td>
      <td><%= @updates %></td>
    </tr>
    <tr>
      <td style="text-align:left; padding-left:10px">Usuwanie</td>
      <td><%= @deletes %></td>
    </tr>
  </tbody>
</table>
<% if @errors.size > 0 %>
  <h3>Błędne zajęcia</h3>
  <table border="1" width="70%">
    <thead>
      <th>Data</th>
      <th>Godziny</th>
      <th>Przedmiot</th>
      <th>Prowadzący</th>
      <th>Sala</th>
      <th>Grupa</th>
    </thead>
    <tbody>
      <% @errors.each do |error| %>
        <tr>
          <td><%= error.day %></td>
          <td><%= error.startTime %>-<%= error.endTime %></td>
          <td><%= error.subject %></td>
          <td><%= error.teacher %></td>
          <td><%= error.place %></td>
          <td><%= error.group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
